@model List<System.IO.FileInfo>
@{
    ViewBag._Title = "Builds - " + ViewBag.Name;
    Layout = "_Layout";
}
<h1>Project: @ViewBag.Name</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Builds</a></li>
    <li role="presentation"><a href="@Url.Action("Project", new {ViewBag.Id})">Edit</a></li>
</ul>
<table class="table table-hover autowidth">
    <thead>
        <tr>
            <th>Build</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            var buildNumber = System.IO.Path.GetFileNameWithoutExtension(file.Name);
            <tr>
                <td><a href="@Url.Action("Log", new {ViewBag.Id, buildNumber})">Build Log @buildNumber</a></td>
                <td>@file.CreationTime</td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
